/* You can add global styles to this file, and also import other style files */
:root{
  --clr-primary: #433498;
}

body, html{
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow: auto hidden;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p{
  margin: 0;
}

.pitch-player-position .cdk-drag-placeholder{
  display: none;
}
